{% block content %}
  <div class="word-card">
      <h2>{{ object.word }} - {{ object.translation }}</h2>
  </div>

  {% if user.is_authenticated %}

    <div class="buttons-container">
      <a href="{% url 'vocabulary_update' pk=object.pk %}" class="btn btn-primary">Editar</a>
      <a href="{% url 'word_delete' pk=object.pk %}" class="btn btn-primary">Excluir</a>
      <a href="{% url 'random_form' %}" class="btn btn-primary">Voltar</a>
    </div>
  {% else %}
    <a href="{% url 'random_form' %}" class="btn btn-primary">Voltar</a>
  {% endif %}

{% endblock %}
